body
{
    width: 1024px;
    height: 980px;
    margin: auto;
}

nav, article, aside
{
    display: block;
    float: left;
}

nav
{
    background: #fff;
  /*background: linear-gradient(to right top,cyan, blue);*/
  /*background: linear-gradient(30deg,cyan, blue);*/
    width: 200px;
    height: 800px;
}

body > header
{
    width: 1004px;
    height: 100px;
    background-color: dodgerblue;
    text-align: center;
}

body > article
{
    width: 604px;
    height: 800px;
    background: radial-gradient(circle at 500px 500px,#33bbff 5%,#99ddff 15% , #000000 70%);
    overflow: auto;
}

aside
{
    width: 200px;
    height: 800px;
    background-color: ActiveCaption;
}

#main_footer
{
    border-width: 1px;
    border-style: dashed;
    border-color: green;
    height: 80px;
    width: 1004px;
    float: left;
}

iframe
{
    width: 100%;
    height: 100%;
    border: none;
}